@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}

.container{
    padding: 20px 70px;
    color:white;
    
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.date-container{
    font-weight: 200;
    
}
.date-container .time{
    font-size: 70px;
    
}

.date-container #am-pm{
    font-size: 30px;
    margin: 10px;
}

.date-container .date{
    font-size: 30px;
}


.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 22px;
    font-weight: 100;
}

.place-container .country{
    font-size: 15px;
    font-weight: 600;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 29, 36, 0.432);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    border: 0.8px solid white
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}

.future-forecast{
    background-color: rgba(29, 29, 36, 0.432);
    padding: 10px;
    position:fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
     overflow-y: scroll;
    /* justify-content: center; */
    /* border-radius: 10px;

    border: 0.8px solid white */
}

.future-forecast .weather-forecast{
    display: flex;
}

.future-forecast .today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.8px solid white;
    padding:10px;
    height: 215px;
    width: 250px;
     background-color: rgba(29, 29, 36, 0.432);
    
}

.today .items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.future-forecast .today .day{
    padding: 5px 15px;
    background-color: rgba(39, 40, 43, 0.74);
    border-radius: 50px;
    text-align: center;
    
}

.future-forecast .today .todayName {
    color: white;
    font-size: 20px;
  
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
 
    padding: 5px 15px;
    background-color: rgba(39, 40, 43, 0.74);

}


.future-forecast .today .temp{
    font-size:20px;
    font-weight: 350;
    padding-top: 15px;
    text-align: center;
  
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 0.8px solid white;
    border-radius: 10px;
    padding: 15px;
    width: 150px;

    background-color: rgba(29, 29, 36, 0.432);
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background-color: rgba(39, 40, 43, 0.74);
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 16px;
}
.place-container .aboutMe{
    font-size: 12px;
    margin: 4px;
}

.aboutMe .icon{
    width: 16px;
    align-self: center;
    margin: 2px;
    vertical-align: middle;
}

@media only screen and(max-width:2000px){
    .future-forecast{
        justify-content: flex-start;
        align-items: none;
        overflow-y: scroll;
    }
}
@media only screen and (min-width: 300px) and (max-width:600px){

    .place-container .aboutMe{
        font-size: 12px;
        margin: 2px;
    }
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .current-info{
        display: flex;
        flex-direction: column-reverse;
      
        flex-wrap: wrap;
        
    }

    .current-info .others{
        display: flex;
        flex-direction: column;
        background-color: rgba(29, 29, 36, 0.432);
        padding: 10px;
        border-radius: 10px;
        margin: 10px 10px;
      
        border: 0.8px solid white
    }
    .container{
        padding: 20px 40px;
        color:white;
        
    }
    .date-container .time{
        font-size: 45px;
        
    }
    
    .date-container #am-pm{
        font-size: 20px;

    }
    
    .date-container .date{
        font-size: 18px;
    }
    
   
    
    .place-container .time-zone{
        font-size: 16px;
    }
    
    .place-container .country{
        font-size: 12px;
        font-weight: 600;
    }

    .future-forecast{
        /* background-color: rgba(29, 29, 36, 0.432); */
        padding: 15px;
        position:fixed;
        bottom: 0;
        display: flex;
        color:white;
        width: 100%;
        align-items: center;
   
    }

 
    .future-forecast .today{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 0.8px solid white;
        padding:5px;
        height: 170px;
        width: 250px;
         background-color: rgba(29, 29, 36, 0.432);
        
    }

    .future-forecast .today .todayName {
        color: white;
        font-size: 16px;
      
        margin-bottom: 5px;
        border-radius: 50px;
        text-align: center;
     
        padding: 5px 15px;
        background-color: rgba(39, 40, 43, 0.74);
    
    }
    
    .future-forecast .today .temp{
        font-size:16px;
  
    }

    .weather-forecast .weather-forecast-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 0.8px solid white;
        padding:5px;
        height: 170px;
        width: 250px;
         background-color: rgba(29, 29, 36, 0.432);
        
    }

    .weather-forecast .weather-forecast-item .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .weather-forecast .weather-forecast-item .temp{
        font-size: 16px;
    }

    .current-info .others .weather-item{
        margin: 3px;
    }
}


@media only screen and (min-width:610px) and (max-width:750px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .current-info{
        display: flex;
        flex-direction: column-reverse;
    
        flex-wrap: wrap;
        
    }

    .current-info .others{
        display: flex;
        flex-direction: column;
        background-color: rgba(29, 29, 36, 0.432);
        padding: 10px;
        border-radius: 10px;
        margin: 10px 10px;
      font-size: 18px;
        border: 0.8px solid white
    }
    .container{
        padding: 20px 40px;
        color:white;
        
    }
    .date-container .time{
        font-size: 60px;
        
    }
    
    .date-container #am-pm{
        font-size: 25px;

    }
    
    .date-container .date{
        font-size: 22px;
    
    }
    
   
    .place-container .time-zone{
        font-size: 16px;
    }
    
    .place-container .country{
        font-size: 14px;
        font-weight: 600;
    }

    .future-forecast{
        background-color: rgba(29, 29, 36, 0.432);
        padding: 15px;
        position:fixed;
        bottom: 0;
        display: flex;
        color:white;
        width: 100%;
        align-items: center;
   
    }

 
    .future-forecast .today{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 0.8px solid white;
        padding:5px;
        height: 190px;
        width: 250px;
         background-color: rgba(29, 29, 36, 0.432);
        
    }

    .future-forecast .today .todayName {
        color: white;
        font-size: 20px;
      
        margin-bottom: 5px;
        border-radius: 50px;
        text-align: center;
     
        padding: 5px 15px;
        background-color: rgba(39, 40, 43, 0.74);
    
    }
    
    .future-forecast .today .temp{
        font-size:18px;
  
    }

    .weather-forecast .weather-forecast-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 0.8px solid white;
        padding:5px;
        height: 190px;
        width: 250px;
         background-color: rgba(29, 29, 36, 0.432);
        
    }

    .weather-forecast .weather-forecast-item .day{
        font-size: 20px;
    }
    .weather-forecast .weather-forecast-item .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .weather-forecast .weather-forecast-item .temp{
        font-size: 18px;
    }

    .current-info .others .weather-item{
        margin: 3px;
    } 
}



