@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.container{
    padding: 20px 70px;
    color:white;
    
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.date-container{
    font-weight: 200;
    
}
.date-container .time{
    font-size: 70px;
    
}

.date-container #am-pm{
    font-size: 30px;
    margin: 10px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 40px;
    font-weight: 200;
}

.place-container .country{
    font-size: 15px;
    font-weight: 400;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 29, 36, 0.432);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    border: 0.8px solid white
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}

.future-forecast{
    background-color: rgba(29, 29, 36, 0.432);
    padding: 20px;
    position:fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px;

    border: 0.8px solid white */
}

.future-forecast .weather-forecast{
    display: flex;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.8px solid white;
    padding:15px;
    height: 205px;
     background-color: rgba(29, 29, 36, 0.432);
    
}

.future-forecast .today .day{
    padding: 5px 15px;
    background-color: rgba(39, 40, 43, 0.74);
    border-radius: 50px;
    text-align: center;
    
}

.future-forecast .today .temp{
    font-size:18px;
    font-weight: 350;
    padding-top: 15px;
    text-align: center;
  
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 0.8px solid white;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    background-color: rgba(29, 29, 36, 0.432);
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background-color: rgba(39, 40, 43, 0.74);
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 14px;
}


@media only screen and (max-width:700px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .current-info{
        display: flex;
        flex-direction: column-reverse;
      
        flex-wrap: wrap;
        
    }
    .container{
        padding: 20px 40px;
        color:white;
        
    }
    .date-container .time{
        font-size: 60px;
        
    }
    
    .date-container #am-pm{
        font-size: 25px;

    }
    
    .date-container .date{
        font-size: 20px;
    }
    
   
    
    .place-container .time-zone{
        font-size: 30px;
    }
    
    .place-container .country{
        font-size: 15px;
        font-weight: 400;
    }
    
    .future-forecast .today .temp{
        font-size:16px;
  
    }

    .weather-forecast .weather-forecast-item .temp{
        font-size: 14px;
    }

    .current-info .others .weather-item{
        margin: 3px;
    }
}

@media only screen and (max-width:1200px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}
